<div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="medidas-label-modal">Buscar medidas</h5>
		</div>
		<div class="modal-body">
			<form id="form-update-user">
				<div class="form-group">
					<label for="id-elemento">Id Medida</label>
					<input type="text" class="form-control" id="id-medida" placeholder="Id Medida">
					<label for="medida">Valor de la medida</label>
					<input type="text" class="form-control" id="valor-medida" placeholder="Tamaño que tendrá">
					<input type="hidden" class="form-control" id="row-index">
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" onclick="cleanMeasureModal();" id="btn-update-user-cancel">Cerrar</button>
			<button type="button" class="btn btn-primary" onclick="searchMeasure();" id="btn-update-user">Buscar</button>
		</div>
	</div>
</div>