<div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="medidas-label-modal">Buscar medidas</h5>
		</div>
		<div class="modal-body">
			<form id="form-update-user">
				<div class="form-group">
					<label for="id-trofeo">Trofeo</label>
					<select class="form-control" id="id-trofeo">
						<option value="" selected disabled hidden>Seleccione trofeo</option>
					</select>
					<input type="hidden" class="form-control" id="row-index">
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" onclick="closeTrophyModal();" id="btn-update-user-cancel">Cerrar</button>
			<button type="button" class="btn btn-primary" onclick="addTrophy();" id="btn-update-user">Agregar</button>
		</div>
	</div>
</div>