<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="elementos-label-modal">Pedido</h5>
		</div>
		<div class="modal-body">
			<form id="form-update-user">
				<div class="form-group">
					<label for="Folio">Folio</label>
					<input type="text" class="form-control" id="Folio" placeholder="Folio del Pedido">
					<label for="fech-El">Fecha de Elaboracion</label>
					<input type="text" class="form-control" id="fech-El" placeholder="Fecha de Elaboracion">
					<label for="fech-Ent">Fecha de Entrega</label>
					<input type="text" class="form-control" id="fech-Ent" placeholder="Fecha de Entrega">
					<label for="cliente">Cliente</label><!--ṔOR BUSQUEDA COMO EN EL CASO DE MEDIDAS-->
					<input type="text" class="form-control" id="cliente" placeholder="Nombre del Cliente">
					<label for="usuario">Categoría</label><!--LO MISMO-->
					<input type="text" class="form-control" id="usuario" placeholder="nombre de quien atendió">
					<input type="hidden" class="form-control" id="row-index">
				</div>
			</form>
			<div class="row hide-on-new">
				<div class="col-sm-12 button-add">
					<button type="button" class="btn btn-success" onclick="openMeasureModal();"><span class="fa fa-plus-square" aria-hidden="true"></span></button>
				</div>
			</div>
			<div class="row hide-on-new">
				<table class="table table-striped table-hover" id="grid-element-measures-table">
				</table>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" onclick="cleanElementForm();" id="btn-update-element-cancel">Cerrar</button>
			<button type="button" class="btn btn-primary" onclick="createOrUpdateElement();" id="btn-update-element">Guardar</button>
		</div>
	</div>
</div>