<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="trofeos-label-modal">Trofeos</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<form id="form-update-trophy">
				<div class="form-group">
					<label for="id-modelo">Id Modelo</label>
					<input type="text" class="form-control" id="id-modelo" placeholder="Serie para el trofeo">
					<label for="descripcion">Descripcion</label>
					<input type="text" class="form-control" id="descripcion" placeholder="Descripcion del trofeo">
					<label for="precio">Precio</label>
					<input type="text" class="form-control" id="precio" placeholder="Precio del trofeo">
					<label for="trophy-photo">Foto del trofeo</label>
					<input type="file" class="form-control-file" id="trophy-photo">
					<input type="hidden" class="form-control" id="row-index">
				</div>
				<div class="element-container form-group">
					<div class="row">
						<div class="col-sm-4"></div>
						<div class="col-sm-4"></div>
						<div class="col-sm-4 button-add">
							<button type="button" class="btn btn-success" onclick="openElementModal();"><span class="fa fa-plus-square" aria-hidden="true"></span></button>
						</div>
					</div>
				</div>
			</form>
			<div class="row">
				<table class="table table-striped table-hover" id="grid-elementtrophy-table">
				</table>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" onclick="cleanTrophyForm();" id="btn-update-trophy-cancel">Cerrar</button>
			<button type="button" class="btn btn-primary" onclick="createOrUpdateTrophy();" id="btn-update-trophy">Guardar</button>
		</div>
	</div>
</div>