<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/report.css">
    <title>Document</title>
</head>
<body>
    <div class="report-sidebar">
        <p>Pedido #7012</p>
    </div>
    <div class="ui grid">
        <div class="four wide column"><img class="ui small image" src="../img/logolobovertical.png" alt="" /></div>
        <div class="twelve wide column">
            <h1 id="title">Trofeos Lobo, S.A de C.V</h1>
            <h6 id="subtitle">R.F.C TLO-051202-N21</h6>
            <h6 id="address">Calz. México-Tacuba Nº 128 Col. Anahuac, México, Distrito Federal C.P. 11320</h6>
            <div class="row">
                <div class="column ui basic image label"><i class="phone icon"></i>5396-3357 / 5396-4344</div>
                <div class="column ui basic image label"><i class="fax icon"></i>Fax: 5816-1703</div>
                <div class="column ui basic image label"><i class="envelope icon"></i>ventas@trofeoslobo.com.mx</div>
            </div>
        </div>
        <div class="row">
            <div class="sixteen wide column mb-1">
                <h3>Datos del cliente</h3>
            </div>
            <div class="eight wide column form-mp">
                <div class="ui basic image label"><i class="calendar alternate icon"></i>Fecha de elaboración</div>
                <div class="client-data"></div>
            </div>
            <div class="eight wide column form-mp">
                <div class="ui basic image label"><i class="calendar alternate outline icon"></i>Fecha de entrega</div>
                <div class="client-data"></div>
            </div>
            <div class="eleven wide column form-mp">
                <div class="ui basic image label"><i class="user icon"></i>Nombre del cliente</div>
                <div class="client-data"></div>
            </div>
            <div class="five wide column form-mp">
                <div class="ui basic image label"><i class="phone icon"></i>Teléfono</div>
                <div class="client-data"></div>
            </div>
            <div class="sixteen wide column form-mp">
                <div class="ui basic image label"><i class="id card icon"></i>Datos de facturación</div>
                <div class="client-data"></div>
            </div>
            <div class="eight wide column form-mp">
                <div class="ui basic image label"><i class="smile outline icon"></i>Atendió</div>
                <div class="client-data"></div>
            </div>
        </div>
        <div class="row">
            <div class="sixteen wide column">
                <table class="ui celled table">
                    <thead>
                        <tr class="row">
                            <th>Cantidad</th>
                            <th>Descripción</th>
                            <th>Precio unitario</th>
                            <th>Importe</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> </td>
                            <td> </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td> </td>
                            <td> </td>
                            <td></td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td> </td>
                            <td> </td>
                            <td></td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td> </td>
                            <td> </td>
                            <td></td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td> </td>
                            <td> </td>
                            <td></td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td> </td>
                            <td> </td>
                            <td></td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td> </td>
                            <td> </td>
                            <td></td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td> </td>
                            <td> </td>
                            <td></td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td> </td>
                            <td> </td>
                            <td></td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td> </td>
                            <td> </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="nine wide column">
                <table class="ui celled table">
                    <thead>
                        <tr class="row">
                            <th>Observaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed arcu quis urna lobortis dignissim. Pellentesque neque nisi, ullamcorper sit amet tincidunt vitae, efficitur id est. Aliquam finibus ac ex dignissim ultrices. Proin nunc felis, tempus ac sapien id, vestibulum interdum mauris. Phasellus facilisis enim ex, porta pellentesque ipsum eleifend a. Sed a gravida augue. Sed vitae lacinia libero.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <template id="page-footer">
        <style type="text/css">
            .pdfheader {
                font-size: 10px;
                color: #aaa;
                font-family: Helvetica;
                font-weight: bold;
                width: 1000px;
                border-top: 1px solid #aaa;
                margin-left: 10%;
                margin-right: 10%;
                padding-top: 1mm;
                margin-bottom: -1mm;
                text-align: center;
            }
        </style>
    </template>
</body>
</html>
