body{
    background-color: #FAC600;
}
#login-back {
	height: 100%;
}

#login-floatbox {
	background-color: #FAC600;

    border-color: #000000;
    border-style: solid;
}

.floatbox {
	margin-top: 14%;
}

#login-buton{
	background-color: #2D2D2D;
	color: white;
	border-color: #BBBBBB;
}

#font {
    width:100%;
    height: 100%;
}

#font2 {
        width:100%;
        height:100%;
}