#login-back {
	height: 100%;
}

#login-floatbox {
	background-color: #FFE030;
}

.floatbox {
	margin-top: 18%;
}

#login-buton{
	background-color: #2D2D2D;
	color: white;
	border-color: #BBBBBB;
}

#font {
    width:100%;
    height: 100%;
}

#font2 {
        background: url(../img/Fondo.png) no-repeat center center fixed;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
}