.modal{
	overflow: auto;
}

.nav-item{
	text-transform: capitalize;
}
.center-main{
	margin: auto;
	padding: inherit;
}
.img-frame{
	background-color: #fcdb20;
    height: 89vh;
}
.img-logo{
	box-shadow: 0px 2px 2px 0px;
}

.pignose-calendar .pignose-calendar-unit a{
	color: #30828a;
}

.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-disabled a:hover{
	background-color: #efefef;
}

.pignose-calendar .pignose-calendar-unit a:hover{
	background-color: black;
	color: white;
}