@import 'https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css';

@page {
  margin: 1cm 1cm 2cm 0cm;
}
html {
  padding-top: 0.7cm;
  padding-left: 1cm;
  padding-right: 1cm;
  font-family: 'Lato';
  font-size: 14px !important;
}
body {
  margin-left: 1cm;
}
#title {
  font-weight: bold;
  font-size: 2.0em;
  margin-top: 0.4em;
}

#subtitle {
  font-weight: bold;
  font-size: 1.0em;
  margin: 0 auto;
}

#address {
  font-size: 0.9em;
  margin: 0 auto;
  font-weight: normal !important;
}

table#totales > tbody > td {
  font-size: 0.8em;
}

.gold-background {
  background-color: lighten(#f6c204, 10%) !important;
}

.summary {
  background-color: lighten(#f6c204, 33%);
}

h2 {
  font-size: 1.8em;
}

.client-data {
  border-bottom: 1px solid;
  border-color: rgba(34,36,38,.15);
}

.form-mp {
  margin-bottom: 0.5em !important;
  padding-right: 0 !important;
}

.mb-1 {
  margin-bottom: 1.0em !important;
}

p {
  line-height: 1.5em;
  font-size: 1.1em !important;
  text-align: justify;
 }

a {
  text-decoration: underline;
  color: inherit;
}

.report-sidebar {
  position: fixed;
  left: -0.25in;
  top: 0;
  width: 0.25in;
  height: 943px;
  writing-mode: vertical-rl;
  border-top: 0.25in solid transparent;
  border-left: 0.25in solid lighten(#f6c204, 10%);
  border-bottom: 0.25in solid transparent;
  /* p {
    text-align: center;
    color: #FFFFFF;
    margin-top: -1.55em;
  } */
}

.block-center {
  display: block;
  margin: 0 auto;
}

.mermaid-svg {
  max-width: 100%;
  height: auto;
  display: block;
  /* .node {
    rect {
      fill: none;
      rx: 5px;
      ry: 5px;
      stroke: black;

    }
  }
  .edgelabel {
    background: white;
    color: #444;
  } */
}

.message, figure {
  page-break-inside: avoid;
}

.message {
  margin-bottom: 1em !important;
}


/* figure {
  margin-top: 0.5em;
  margin-bottom: 1em;
  padding: 0.5em;
  &> .panel {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    &> .label {
      font-weight: bold;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &.float-left {
    margin-left: -1em !important;
    margin-right: 2em !important;
    margin-top: 1em;
    margin-bottom: 1em;
    float: left;
  }
  figcaption {
    font-size: 0.75em;
    text-align: justify;
    width: 100%;
    margin-top: 1em;
    &> .reference, .title {
      font-weight: bold;

      display: inline;
      margin-right: 0.5em;
    }
    &> .reference {
      color: darken(#f6c204, 50%);
      &::after {
        content: ': ';
      }
    }
    &> .title {
      color: darken(#f6c204, 40%);
    }
    &> .caption {
      display: inline;
    }
  }
} */


@for $i from 1 to 20 {
  .width-#{$i}cm { width: #{10 * $i}mm !important; }
}
@for $i from 1 to 20 {
  .top-#{$i}mm { margin-top: #{$i}mm; }
}
